.About_Section {
  margin-top: 100px;
  text-align: center;
  padding: 0 20px;
}

.About_TextBox {
  overflow-y: hidden;
  height: 30vh;
}

.Expand {
  height: 100%;
}

@media (min-width: 550px) {
  .About_Section {
    margin-top: unset;
    text-align: left;
    padding: 0;
  }

  .Section_Title {
    position: relative;
  }

  .Section_Title:before {
    content: '';
    position: absolute;
    background: #000;
    left: -102px;
    width: 40px;
    height: 40px;
    top: 0;
    border-radius: 50%;
  }
}